section{
  margin-left: 10%;
  margin-right: 10%;
  color: black; 
  text-align: center;

}
.Gigs {
	max-width: 70%;
	margin-top: 30px;
	margin-bottom: 30px;
	color: black; 
	text-align: left;
	background-color: #DEDEDE;


}


h3{
font-size: 25px;

}


.Photo {
	max-width: 70%;
	margin-top: 30px;
	margin-bottom: 20%;
	color: black; 
	text-align: left;
	background-color: #DEDEDE;


}

.img-square3{
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;

}
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 95%;
	padding: 10px 10px;
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 150px;
	float: left;
}

.g-301{
	width: 350px;
	float: left;
}

.g-70{
	width: 65%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; 
}

.column {
  float: left;
  width: 33.33%;
  padding: 20px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 10px;
}

@media screen and (max-width: 700px) {
.Gigs {
	max-width: 70%;
	margin-top: 30px;
	margin-bottom: 30px;
	color: black; 
	text-align: left;
	background-color: #DEDEDE;


}

section{

  margin-left: 10px;
  margin-right: 10px;

  color: black; 
  text-align: center;

}
}


